In [1]:
import pandas as pd
import numpy as np
from glob import glob
from tqdm import tqdm
from scipy import interpolate

In [23]:
#w_list = sorted(glob("data/water_data/*.csv"))
df = pd.read_csv("data_2012~2021 impute_tototf+inf.csv")
df = df.replace(" ", np.nan)

In [24]:
# 네 교량의 최소 수위는 240. 바다쪽 신곡수중보의 높이가 240이기 때문
df.describe()

,swl,inf,sfw,ecpc,tototf,tide_level,wl_1018662,fw_1018662,wl_1018680,fw_1018680,wl_1018683,fw_1018683,wl_1019630,fw_1019630
count,264253.000000,264960.000000,264253.000000,264253.000000,264960.000000,260046.000000,264901.000000,251765.000000,264901.000000,79487.0,264901.000000,263681.000000,264901.000000,264901.000000
mean,25.072592,562.095247,219.630025,24.370585,544.524190,347.262523,329.888731,728.373508,316.469463,0.0,313.050204,603.419963,300.517598,1064.080321
std,0.468083,1105.418233,10.730610,10.730225,1107.336479,174.699839,76.368029,897.650172,67.473104,0.0,63.781461,1381.465277,51.321570,1432.056582
min,0.000000,0.010000,-0.010000,2.150000,9.000000,39.000000,259.700000,243.290000,246.200000,0.0,247.000000,-3522.710000,241.300000,212.040000
25%,24.980000,132.500000,212.140000,14.100000,132.000000,193.000000,288.700000,337.640000,278.200000,0.0,276.000000,207.950000,268.300000,460.030000
50%,25.102000,256.000000,217.990000,26.010000,175.700000,328.000000,307.700000,461.960000,298.200000,0.0,296.000000,359.190000,287.300000,692.880000
75%,25.195000,526.562500,229.900000,31.860000,507.000000,489.000000,343.700000,752.700000,330.200000,0.0,328.000000,713.260000,317.300000,1159.750000
max,25.449000,20015.000000,241.850000,244.010000,18615.260000,842.000000,1287.700000,9405.640000,1146.200000,0.0,1080.000000,25289.170000,843.300000,29854.120000

In [25]:
columns = ["wl_1018662", "wl_1018680", "wl_1018683", "wl_1019630"]

for column in columns:
    print(f"nan count of {column} : {df[str(column)].isna().sum()}")
    print(f"under zero count of {column} : {(df[str(column)]<=0).sum()}")
    print("-----------")

nan count of wl_1018662 : 59
under zero count of wl_1018662 : 0
-----------
nan count of wl_1018680 : 59
under zero count of wl_1018680 : 0
-----------
nan count of wl_1018683 : 59
under zero count of wl_1018683 : 0
-----------
nan count of wl_1019630 : 59
under zero count of wl_1019630 : 0
-----------

In [26]:
columns = ["wl_1018662", "wl_1018680", "wl_1018683", "wl_1019630"]

for column in columns:
    df[column] = df[column].interpolate()

In [28]:
columns = ["wl_1018662", "wl_1018680", "wl_1018683", "wl_1019630"]

for column in columns:
    print(f"nan count of {column} : {df[str(column)].isna().sum()}")
    print(f"under zero count of {column} : {(df[str(column)]<=0).sum()}")
    print("-----------")

nan count of wl_1018662 : 0
under zero count of wl_1018662 : 0
-----------
nan count of wl_1018680 : 0
under zero count of wl_1018680 : 0
-----------
nan count of wl_1018683 : 0
under zero count of wl_1018683 : 0
-----------
nan count of wl_1019630 : 0
under zero count of wl_1019630 : 0
-----------

In [29]:
df.to_csv("data_2012~2021 impute_tototf+inf+wl.csv")